.kakao_ad_area {
  border-radius: 0.7rem;
  flex-shrink: 0;
  height: auto;
  width: 100%;
  position: relative;
  z-index: 999;
}

.top_fixed2 {
  position: fixed;
  width: 90%;
  top: 3.2rem;
  height: fit-content;
  /* max-height: 100px; */
  background-color: white;
  /* 배경을 지정해 뒤의 콘텐츠가 가려지도록 */
  z-index: 1000;
  /* 다른 요소보다 앞에 위치하도록 설정 */
  left: 5%;
}

.left-arrow3 {
  width: 1rem;
  height: 1rem;
  margin-top: 0.1rem;
  margin-left: 1rem;
}


.top_group1 {
  display: flex;
}

.blockleft {
  display: block;
  width: 10%;
}
.blockRight {
  display: block;
  width: 80%;
  margin-left: 20px;
}

.innerSpace1 {
  flex-shrink: 0;
  height: auto;
  /* margin: 0rem 0rem 0rem 0rem; */
  position: relative;
  width: 100%;
}

.diary_title1 {
  color: #ccc;
  flex-shrink: 0;
  font-family: AppleSD고딕네오, 'Source Sans Pro';
  font-weight: 400;
  line-height: 1.2575;
  white-space: nowrap;
  position: relative;
  /* width: 100%; */
  margin: 0 0;
}

.diary_hashTagBox {
  display: flex;
  flex-wrap: wrap; /* 필요에 따라 태그들이 한 줄에 다 들어가지 않을 때 줄 바꿈 처리 */
  position: relative;
}

.diary_hashtag {
  color: gray;
  flex-shrink: 0;
  font-family: AppleSD고딕네오, 'Source Sans Pro';
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2575;
  white-space: nowrap;
  position: relative;
  margin: 0 0 0 0;
  width: fit-content;
}

/* 월,일의 일 */
.today_day {
  color: #000000;
  font-family: AppleSD고딕네오, 'Source Sans Pro';
  font-size: 1.8rem;
  font-weight: 400;
  height: 1.8rem;
  letter-spacing: 0.036rem;
  line-height: 1.2575;
  position: relative;
  white-space: nowrap;
  width: 1.6rem;
  margin: 0 0;
}

/* 월 */
.today_month {
  color: #000000;
  font-family: AppleSD고딕네오, 'Source Sans Pro';
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 0.098rem;
  line-height: 1.2575;
  white-space: nowrap;
  width: 1.9rem;
  margin-top: 0rem;
  position: relative;
  margin: 0 0;
}

.emotion_select {
  height: 1.7rem;
  left: 100%;
  object-fit: contain;
  /* position: absolute; */
  top: 0.5rem;
  vertical-align: top;
  width: 1.2rem;
}

.text_space {
  position: relative;
  color: #505050;
  font-family: AppleSD고딕네오, 'Source Sans Pro';
  font-size: 0.7rem;
  object-fit: contain;
  vertical-align: top;
  margin-top: 20px;
}



.shareIcon {
  flex-shrink: 0;
  height: 1.3167rem;
  /* margin: -0.2rem 1rem 0.283rem 20rem; */
  align-items: end;
  object-fit: contain;
  position: relative;
  vertical-align: top;
  width: 1.2rem;
}

/* 펼쳐보기 들어가는 이미지 박스 */
.imageBox {
  display: flex;
  flex-wrap: wrap; /* 이미지를 한 줄에 모두 표시 */
  justify-content: flex-start; /* 왼쪽 정렬 */
  height: auto;
  width: 100%;
  column-gap: 10px;
}

/* 첫번째 이미지 */
.imageBox img:nth-child(1) {
  flex-shrink: 0;
  height: 8rem;
  object-fit: cover;
  vertical-align: top;
  width: 24.5%;
  border-radius: 10%;
}

/* 두번째 이미지 */
.imageBox img:nth-child(2) {
  flex-shrink: 0;
  height: 8rem;
  object-fit: cover;
  vertical-align: top;
  width: 24.5%;
  border-radius: 10%;
}

/* 세번째 이미지 */
.imageBox img:nth-child(3) {
  flex-shrink: 0;
  height: 8rem;
  object-fit: cover;
  vertical-align: top;
  width: 24.5%;
  border-radius: 10%;
}

.content_space1 {
  height: calc(100% - 195px);
  top: 7rem;
  width: 90%;
  align-items: end;
  background-color: #ffffff;
  border: solid 0.1rem #000000;
  border-radius: 1.4rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin: 0rem 0rem 0rem 5%;
  padding: 1.6rem 2.5rem 5rem 2.5rem;
  position: relative;
  overflow: visible; /* 내부 콘텐츠에 따라 크기 확장 */
  overflow-y: auto;
}

.btn_submit {
  background-color: #ffffff;
  border: none;
}


.emotion_select1 {
  right: 0;
  object-fit: contain;
  /* position: absolute; */
  top: 0.5rem;
  vertical-align: top;
  width: 3rem;
  height: 3rem;
}

/* 감정 이모티콘 컨테이너 세로 배치 */
.emoticon_select1 {
  display: flex;
  flex-direction: column; /* 세로로 나열 */
  position: absolute;
  top: 5rem;
  right: 0.5rem;
  background-color: white;
  border-radius: 2rem;
  padding: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

/* 감정 이모티콘 이미지 스타일 */
.emoticon-item {
  width: 30px;
  height: 30px;
  margin-bottom: 10px; /* 아이콘 사이에 간격 추가 */
  cursor: pointer;
}

.emoticon-item.selectedEmotiicon {
  border: 2px solid #000; /* 선택된 이모티콘 강조 */
  border-radius: 5px;
}
