
.title {
    align-items: baseline;
    color: #000000;
    display: flex;
    flex-shrink: 0;
    font-family: Gmarket Sans, 'Source Sans Pro';
    font-size: 1.5rem;
    font-weight: bolder;
    letter-spacing: 0.05rem;
    line-height: 1.2575;
    margin: 0;
    margin-left: 5%;
    white-space: nowrap;
    width: 100%;
    margin-top: 1rem;
}

.matched-box {
    /* background: #FFFEED; */
    position: relative;
    display: flex;
    flex-grow: 1;
    /* 가능한 최대 크기로 확장 */
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    padding: 0 1rem;
    /* 좌우에 1rem의 내부 여백 추가 */
    border-bottom: 1px solid #D9D9D9;
    height: 4rem;
}

.matched-content {
    overflow-wrap: break-word;
    font-family: 'AppleSDGothicNeoL00', 'Roboto Condensed';
    font-weight: 400;
    font-size: 0.6rem;
    color: #000000;
    display: flex;
    align-items: center;
    /* 내용을 수직으로 중앙 정렬 */
    width: 100%;
}

.matchUserProfile {
    position: relative;
    width: 2.2rem;
    height: 2.2rem;
}

.matchedUser_info {
    overflow-wrap: break-word;
    font-family: 'AppleSDGothicNeoL00', 'Roboto Condensed';
    font-weight: 400;
    font-size: 0.6rem;
    margin-left: 1rem;
    color: #000000;
    display: block;
    width: 100%;
}

.matchedUserNameZone {
    display: flex;
    align-items: center;
    /* 자식 요소들을 세로로 중앙 정렬 */
    height: 0.2rem;
    margin-top: 1rem;
    width: 100%;
}

.matchedUserName {
    font-size: 1.2rem;
    position: relative;
    font-weight: bold;
}

.matchedChat {
    width: calc(100% - 4rem);
    font-size: 0.8rem;
    text-overflow: ellipsis;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
}


.recentTime {
    position: absolute;
    right: 0;
    font-size: 0.8rem;
    right: 2rem;
}


.flagredCircle {
    background-color: #e5643b;
    border-radius: 100%;
    height: 0.6rem;
    width: 0.6rem;
    position: absolute;
    right: 1rem;

}